@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@font-face {
    font-family: Anurati;
    src: url(font/Anurati-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(img/woman.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    width: 100%;
    max-width: 2560px;
    min-width: 720px;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    font-family: "mulish", sans-serif;
    margin: auto;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
    font-family: Anurati;
    
}

.logo:hover {
    text-shadow: 0em 0em 0.3em #DDD1C7;
    transition: 0.5s
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 0px 1.5rem 5px 1.5rem;
    transform: 2ms ease-in;
    position: relative;
    font-weight: 600;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: #DDD1C7;
    transition: all 0.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: #DDD1C7;
    text-transform: uppercase;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #DDD1C7;
    color: #DDD1C7;
    text-transform: uppercase;
    background-color: rgba(22, 22, 22, 0.2);
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
    font-size: 1.5em;
    font-family: "mulish", sans-serif;
}

.btns button:hover {
    color: white;
    background-color: #60d612;
    box-shadow: 0px 0px 1px 1px #ffffff32;
    border: 1px solid #DDD1C7;
}

.btns button:hover:before {
    width: 100%;
}

@media screen and (max-width: 980px){
    .menu-content{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

@media screen and (max-width: 830px){
    .primary-text{
        width: 95%;
    }
}

@media screen and (max-width: 600px){
    .btns{
        display: flex;
        flex-direction: column;
    }
}
